
@{
    ViewData["Title"] = "Index";
}

    <div>
        <h1 class="display-3 text-center">Index</h1>

        <div>
            <a class="btn btn-success" asp-controller="Files" asp-action="UploadFile">Upload File</a>
            <a class="btn btn-danger" asp-controller="Files" asp-action="UploadMultipleFiles">Upload Multiple Files</a>
            <a class="btn btn-warning" asp-controller="Files" asp-action="Download">Download File</a>
        </div>
    </div>