
@{
    ViewData["Title"] = "Theory";
}

<div>
    <h1 class="display-3 text-center">Theory</h1>

    <div>
        <a class="btn btn-primary" asp-controller="Theory" asp-action="XhrRequest">XHR Request</a>
    </div>
</div>
