
@{
    ViewData["Title"] = "Web Api";
}

    <div>
        <h1 class="display-3 text-center">Web Api</h1>

        <div class="mt-3">
            <ul>
                <li class="mt-2">
                    Web API is an <strong>application programming interface</strong> used by Web Browsers (SPA), Mobile Applications, Games, Desktop Applications, Web Server, etc
                </li>
                <li class="mt-2">
                    <strong>Server-side Web APIs</strong> consist of publicly exposed <strong>endpoints</strong>
                </li>
                <li class="mt-2">
                    The endpoints correspond to a defined request-response message system
                </li>
                <li class="mt-2">
                    Communication is typically expressed in <code>JSON</code> or <code>XML</code> format
                </li>
                <li class="mt-2">
                    Communication is performed over a web protocol (HTTP)
                </li>
            </ul>
        </div>

        <div class="mt-3">
            <h2 class="text-center">For ASP.NET Core API, there are some conventions to know</h2>
            <ul>
                <li class="mt-2">
                    <span>Over the <code>controller</code>, we put 2 attributes</span>
                    <ul>
                        <li><code>[ApiController]</code></li>
                        <li><code>[Route("[controller]")]</code></li>
                    </ul>
                </li>
                <li class="mt-2">
                    The name of the action is not that important. Over each action, we put the attribute (<code>[HttpGet], [HttpPost], etc</code>), corresponding to the method we are trying to access 
                </li>
                <li class="mt-2">
                    An API controller inherits <code>BaseController</code>
                </li>
                <li class="mt-2">
                    If we want to make the whole project a Web API, we can put the attribute <code>[assembly: ApiController]</code> over the namespace of <code>Startup.cs</code>
                </li>
            </ul>
        </div>
    </div>