
@{
    ViewData["Title"] = "Index";
}

<h1 class="display-3 text-center">Index</h1>

<div>
    <a class="btn btn-info" asp-controller="Func" asp-action="Section">Section</a>
    <a class="btn btn-warning" asp-controller="Func" asp-action="HtmlHelpers">Html Helpers</a>
    <a class="btn btn-primary" asp-controller="Func" asp-action="TagHelpers">Tag Helpers</a>
    <a class="btn btn-danger" asp-controller="Func" asp-action="CustomTagHelper">Custom Tag Helper</a>
    <a class="btn btn-success" asp-controller="Func" asp-action="PartialViews">Partial Views</a>
    <a class="btn btn-dark" asp-controller="Func" asp-action="ViewComponents">View Components</a>
</div>