
@{
    ViewData["Title"] = "CustomModelBinder";
}

    <div>
        <h1 class="display-3 text-center">CustomModelBinder</h1>

        <div>
            <ul class="custom-ul">
                <li class="mt-3">
                    Create a class (Model Binder), which inherits <code>IModelBinder</code>. This is enough for us to be able to use <code>[ModelBinder(typeof(NameOfTheModelBinderClass))]</code>
                </li>
                <li class="mt-3">
                    We can make the model binder <strong>global</strong>
                    <ul class="custom-inner-ul">
                        <li class="mt-3">
                            Create a class (Binder Provider), which inherits <code>IModelBinderProvider</code>, where we can check the name, type, etc of the property we want to bind.
                        </li>
                        <li class="mt-3">
                            Register the <strong>Binder Provider</strong> in the <code>StartUp.cs</code>
                            <code>
                                <span class="d-block">services.AddControllersWithViews(configure =></span>
                            </code>
                            <code>
                                <span class="d-block">{</span>
                            </code>
                            <code>
                                <span class="d-block">&nbsp;&nbsp;&nbsp;&nbsp;// Should be with highest priority (inserted at first position),</span>
                            </code>
                            <code>
                                <span class="d-block">&nbsp;&nbsp;&nbsp;&nbsp;// because otherwise some other model binder provider will be executed</span>
                            </code>
                            <code>
                                <span class="d-block">&nbsp;&nbsp;&nbsp;&nbsp;configure.ModelBinderProviders.Insert(0, new YearModelBinderProvider());</span>
                            </code>
                            <code>
                                <span class="d-block">});</span>
                            </code>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>