
@{
    ViewData["Title"] = "Files";
}

<h1>Files</h1>

<div>
    <p>
        When working with files, to the <code>@("form tag")</code> should be added  <strong><code>enctype="multipart/form-data"</code></strong> attribute
    </p>
</div>

