
@{
    ViewData["Title"] = "Index";
}

    <div>
        <h1 class="display-3 text-center">Index</h1>

        <div>
            <a class="btn btn-primary" asp-controller="Theory" asp-action="ModelBinding">Model Binding</a>
            <a class="btn btn-info" asp-controller="Theory" asp-action="CustomModelBinder">Custom Model Binder</a>
        </div>
    </div>

