
@{
    ViewData["Title"] = "Diff";
}

    <div class="text-center">
        <h1 class="display-3">Diff</h1>
        <h2 class="display-4"><code>ViewData</code> @ViewData["Value"]</h2>
        <h2 class="display-4"><code>ViewBag</code> @ViewBag.Value</h2>
    </div>

