
@{
    ViewData["Title"] = "ViewDataDemo";
}

    <div class="text-center">
        <h1 class="display-3">ViewDataDemo</h1>
        <h2 class="display-4">@ViewData["Message"] - @ViewData["Year"]</h2>
    </div>
