
@{
    ViewData["Title"] = "ViewBagDemo";
}

    <div class="text-center">
        <h1 class="display-3">ViewBagDemo</h1>
        <h2 class="display-4">@ViewBag.Message - @ViewBag.Year</h2>
    </div>

