@model DemoApp.VIewModels.Data.IndexViewModel
@{
    ViewData["Title"] = "ViewModel";
}

    <div class="text-center">
        <h1 class="display-3">ViewModel</h1>
        <h2 class="display-4">@Model.Message - @Model.Year</h2>
    </div>

