@{
    ViewData["Title"] = "Theory";
}

<div>
    <h1 class="display-3 text-center">Razor Pages</h1>
    <h2 class="display-4 text-center">Theory</h2>

    <div>
        <a class="btn btn-primary" asp-controller="Theory" asp-action="Overview">Razor Pages Overview</a>
        <a class="btn btn-danger" asp-controller="Theory" asp-action="Binding">Binding</a>
        <a class="btn btn-warning" asp-controller="Theory" asp-action="Filters">Filters</a>
        <a class="btn btn-success" asp-controller="Theory" asp-action="Routing">Routing</a>
    </div>
</div>
