@{
    ViewData["Title"] = "Overview";
}

<div>
    <h1 class="display-3 text-center">Overview</h1>

    <div>
        <ul>
            <li>
                <strong>Razor Pages</strong> are similar to View Components
            </li>
            <li>
                A <strong>Page</strong> includes <strong>Model</strong> and <strong>Controller</strong> code
            </li>
            <li>
                Enables two-way data binding and simpler development
            </li>
            <li>
                Perfect for simple applications or read-only/simple data input functionality
            </li>
            <li>
                <strong>Single Responsibility</strong> principle is strong in Razor Pages
            </li>
            <li>
                <span>Every Razor Page consists of:</span>
                <ul>
                    <li>
                        A <strong>View Template <code>(.cshtml)</code></strong> - acts as a view
                    </li>
                    <li>
                        A <strong>functional <code>(.cs)</code></strong> - acts as controller action of view
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>