
@{
    ViewData["Title"] = "XHR Request";
}

<div>
    <h1 class="display-3 text-center">XHR Request</h1>

    <div>
        <a class="btn btn-primary" asp-controller="XhrRequest" asp-action="Xhr">XHR</a>
        <a class="btn btn-success" asp-controller="XhrRequest" asp-action="ParseJson">Parse JSON</a>
    </div>
</div>