
@{
    ViewData["Title"] = "SpecialFiles";
}

    <div class="text-center">
        <h1 class="display-3">SpecialFiles</h1>

        <div>
            <p><code class="font-weight-bold">_Layout</code> - the template, which is shared between all the views, which use the given layout</p>
            <p><code class="font-weight-bold">_ViewData</code> - the code, executed before each view</p>
            <p><code class="font-weight-bold">_ViewImports</code> - a file, where we can declare all the usings, tag helpers (directive or dependency) which are common for the project. Using it, they become globally declared</p>
        </div>

        <div>
            <h2 class="display-4">Results</h2>
            <p>Name from _ViewStart - <strong>@ViewData["Name"]</strong></p>
        </div>
    </div>
